/* font-family: 'Outfit', sans-serif; */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0d1a2d;
    margin: 49px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

main {
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    width: 25%;
    height: max-content;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px #1e1e22;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
}

main > img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.author img {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
}

h1 {
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 5px 0;
}

.highlight {
    color: hsl(178, 100%, 50%);
    font-weight: 600 !important;
}
i {
    margin-right: 3px;
}
hr {
    width: 100%;
    margin: 5px 0;
    border-radius: 10px;
}

.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    /* font-size: 18px; */
}
.contain span {
    color: hsl(215, 51%, 70%) !important;
    margin-right:3px;
}
